<div class="clearfix mxn2">
    <div class="col sm-col-9 px2">
      <h3 class="mb2">About me</h3>
      <p>
        My name is Erik Gross. I'm a developer, author and speaker. I co-founded 
        <a href="{{ site.techacademy_url }}" target="_blank">The Tech Academy</a>, a software developer boot camp 
        with graduates all around the world. I have co-authored six technology books, including 
        <em><a href="{{ site.youarenotstupid_url }}" target="_blank">You Are Not Stupid: Computers and Technology Simplified</a></em>, 
        which breaks down the mystery of computers for anyone. I served in the U.S. Navy, where I operated 
        nuclear reactors and taught electronics, digital computers and nuclear engineering in 
        the <a href="{{ site.nnps_url }}" target="_blank">Naval Nuclear Propulsion program</a>. 
        I have decades of experience as a consultant, architect and developer, working at companies like 
        IBM, Providence and Travelliance. I would love to hear from you.
      </p>  
    </div>
    <div class="col sm-col-3 px2">
      <h3 class="mb2">Contact</h3>
      {% include contact.html %}
    </div>  
  </div>
  