<div class="center">
    <a href="{{ site.base_url }}">
      {% include image.html path=site.thumbnail_path alt=site.name class="border bg-white p1 border-light-gray circle square-100" %}
    </a>
    {% include header-h1.html %}
    <h2 class="page-description body-font gray mt0 h3 regular">
      Co-founder of <a href="{{ site.techacademy_url }}" target="_blank">The Tech Academy</a><br>
      Co-author of <em><a href="{{ site.youarenotstupid_url }}" target="_blank">You Are Not Stupid: Computers and Technology Simplified</a></em><br>
      Founder of the <em><a href="{{ site.twitch_url }}" target="_blank">Five Live</a></em> free code school
    </h2>
  </div>